.movies-card-list__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    margin: 0;
    padding: 0;
}

.movies-card-list {}

.movies-card-list__button-more {
    background-color: #F9F9F9;
    border-radius: 5%;
    padding: 12px 108px;
    border: none;
    color: #000;
    /* min-width: 260px; */
    margin-top: 50px;
    transition: opacity 0.3s linear;
    margin-bottom: 80px;
    font-size: 12px;
    line-height: 105%;
    font-weight: 500;
}

.movies-card-list__button-box {
    height: 166px;
}

.movies-card-list__button-more_hidden {
    visibility: hidden;
}

.movies-card-list__button-more:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .movies-card-list__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        margin: 0;
        padding: 0;
    }

    .movies-card-list__button-more {
        padding: 12px 148px;
    }

    .movies-card-list__button-more {
        margin-top: 30px;
    }
}

@media screen and (min-width: 1280px) {
    .movies-card-list__grid {
        grid-template-columns: repeat(4, 1fr);
        row-gap: 38px;
        column-gap: 20px;
    }

    .movies-card-list__box {
        padding: 70px 70px 0;
    }

    .movies-card-list__button-more {
        margin-top: 50px;
    }
}