/* .portfolio {} */
.portfolio__box {
    max-width: 1140px;
}

.portfolio__link {
    text-decoration: none;
    font-size: 18px;
    color: #000;
    font-weight: 400;
    text-align: start;
    margin-bottom: 19px;
    transition: opacity 0.3s linear;
    letter-spacing: -0.04em;
    display: flex;
    justify-content: space-between;
}

.portfolio__link:hover {
    opacity: 0.7;
    cursor: pointer;
    color: #3456F3;
}

.portfolio__title {
    font-size: 14px;
    color: #A0A0A0;
    font-weight: 400;
    text-align: start;
    margin-bottom: 40px;
    margin-left: 14px;
    margin-top: 70px;
    line-height: 20px;
}

.portfolio__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 70px;
}

.portfolio__slot {
    font-size: 18px;
    margin-left: 14px;
    letter-spacing: -0.04em;
    min-width: 250px;
    margin-right: 14px;
    line-height: 28px;
}

.portfolio__slot:not(:last-child) {
    border-bottom: 1px solid #E8E8E8;
}


.portfolio__arrow-symbol {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.04em;
    color: #000;
}

.portfolio__arrow-symbol:hover {
    opacity: 0.7;
    cursor: pointer;
    color: #3456F3;
}

@media screen and (min-width: 768px) {
    .portfolio {
        padding-left: 50px;
        padding-right: 50px;
    }

    .portfolio__title {
        margin-left: 0;
        font-size: 18px;
        margin-bottom: 50px;
    }

    .portfolio__slot {
        margin-left: 0;
        font-size: 28px;
        line-height: 50px;
        margin-right: 0;
    }

    /* .portfolio__arrow-button {
        background-image: url('../../images/arrow_svg_big.svg');
    } */

    .portfolio__arrow-symbol {
        font-size: 28px;
        line-height: 60px;
    }

}

@media screen and (min-width: 1280px) {
    .portfolio {
        margin-top: 101px;
    }

    .portfolio__box {
        margin: 0 auto;
    }

    .portfolio__link {
        font-size: 30px;
        line-height: 50px;
    }

    .portfolio__arrow-symbol {
        font-size: 30px;
        line-height: 60px;
    }
}