.promo {}

.promo__content {
    background-color: #073042;
    min-height: 570px;
    display: flex;
    align-items: center;
    background-image: url('../../images/langing_logo.svg');
    background-repeat: no-repeat;
    background-position: center 70px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.promo__title {
    letter-spacing: -0.04em;
    font-size: 31px;
    line-height: 39px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    margin: 180px auto 24px;
}

.promo__text {
    color: #fff;
    opacity: 0.5;
    font-size: 13px;
    line-height: 105%;
    text-align: center;
    max-width: 260px;
    margin-top: 0;
    margin-bottom: 80px;
}