.navigation-menu {
    transition: visibility 1s, opacity .2s linear;
    visibility: hidden;
    opacity: 0;
    height: 100vh;
    position: fixed;
    background-color: #fff;
    z-index: 1;
    min-width: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: flex-end;
}

.navigation-menu__box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}

.navigation-menu_opened {
    opacity: 1;
    transition: visibility 1s, opacity .2s linear;
    visibility: visible;
}

.navigation-menu__button-box {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
    margin-top: 13px;
    margin-bottom: 100px;
}

.navigation-menu__button-close {
    width: 22px;
    height: 22px;
    background-image: url('../../images/closebutton.png');
    background-color: transparent;
    border: none;
    background-position: 50%;
    background-repeat: no-repeat;
    padding: 0;
    transition: opacity 0.3s linear;
    margin-right: 10px;
    margin-left: 275px;
}

.navigation-menu__button-close:hover {
    opacity: 0.7;
    cursor: pointer;
}

.navigation-menu__link-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.navigation-menu__link {
    text-decoration: none;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    text-align: start;
    margin-bottom: 15px;
    transition: opacity 0.3s linear;
    line-height: 105%;
}

.navigation-menu__link:hover {
    opacity: 0.7;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 7px;
}

.navigation-menu__account-box {
    margin-top: 540px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0px 0px 13px #d5d5d5;
    border-radius: 40px;
    transition: opacity 0.3s linear;
    height: 32px;
    width: 100px;
    display: flex;
    align-items: center;
    transition: opacity 0.3s linear;
    margin-bottom: 46px;
}

.navigation-menu__account-box:hover {
    opacity: 0.7;
    cursor: pointer;
}


.navigation-menu__account {
    text-decoration: none;
    font-size: 13px;
    line-height: 12px;
    color: #000;
    padding-left: 11px;
}

.navigation-menu__account-icon {
    background-image: url('../../images/accountbutton.png');
    background-position: 50%;
    background-repeat: no-repeat;
    height: 26px;
    width: 26px;
    background-color: transparent;
    border: none;
    padding: 7px;
}

@media screen and (min-width: 768px) {
    .navigation-menu__button-close {
        margin-left: 390px;
    }

    .navigation-menu__box {
        display: flex;
        gap: 20px;
        min-width: 520px;
        z-index: 1;
        background-color: #fff;
        flex-direction: column;
        align-items: center;
    }

    .navigation-menu {
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        transition: all .5s linear;
        background-color: rgba(0, 0, 0, .5);
        min-width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }

    .navigation-menu__account-box {
        margin-top: 550px;
        margin-bottom: 90px;
    }

    /*  фикс бургера */

    .navigation-menu {
        transition: visibility 1s, opacity .2s linear;
        position: fixed;
        background-color: transparent;
        z-index: 0;
        height: 74px;
        width: 100%;
        visibility: visible;
        opacity: 1;
        display: flex;
        justify-content: flex-start;
    }

    .navigation-menu__account-box {
        margin: 0;
    }

    .navigation-menu__button-box {
        display: none;
    }

    .navigation-menu__link-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        gap: 16px;
    }

    .navigation-menu__account-box {
        margin-top: 21px;
    }

    .navigation-menu__box {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
        max-width: 100%;
        padding-right: 30px;
        width: calc(50% + 55px);
        min-width: 400px;
    }

    .navigation-menu__link {
        font-size: 13px;
    }

    /* .navigation-menu__link_main {
        display: none;
    } */

    .navigation-menu__link:hover {
        opacity: 0.7;
        cursor: pointer;
        text-decoration: underline;
        text-underline-offset: 7px;
    }

    .navigation-menu__box_main {
        background-color: #073042;
    }

    .navigation-menu__link_main {
        color: #fff;
    }

    .navigation-menu__account-box_main {
        background-color: #2BE080;
        box-shadow: none;
    }
}


@media screen and (min-width: 1280px) {
    .navigation-menu {
        width: 90%;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        position: static;
    }

    .navigation-menu__account-box {
        margin-right: 35px;
        margin-left: 0;
        margin-top: 21px;
    }

    .navigation-menu__button-box {
        display: none;
    }

    .navigation-menu__link-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
        gap: 16px;
    }

    .navigation-menu__box {
        width: calc(60% - 0px);
        padding: 0;
        position: static;
        display: flex;
        justify-content: space-between;
    }

    .navigation-menu__link {
        font-size: 13px;
    }

    /* .navigation-menu__link_main {
        display: none;
    } */

    .navigation-menu__link:hover {
        opacity: 0.7;
        cursor: pointer;
        text-decoration: underline;
        text-underline-offset: 7px;
    }

    .navigation-menu__box_main {
        background-color: #073042;
    }

    .navigation-menu__link_main {
        color: #fff;
    }

    .navigation-menu__account-box_main {
        background-color: #2BE080;
        box-shadow: none;
    }
}