.footer {
    padding: 79px 0 0;
}

.footer__content {
    max-width: 1140px;
}

.footer__text {
    margin: 0 0 21px;
    line-height: 110%;
    text-align: center;
    color: #A0A0A0;
    font-size: 12px;
}

.footer__copyright {
    margin: 30px 0 20px;
    text-align: center;
    font-size: 12px;
    color: #A0A0A0;
}

/* .footer__content {} */

.footer__container {
    display: flex;
    border-top: 1px solid #E8E8E8;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer__link {
    text-decoration: none;
    color: #000;
    transition: opacity 0.3s linear;
    font-size: 12px;
    font-weight: 400;
    line-height: 105%;
}

.footer__link:hover {
    opacity: 0.7;
    cursor: pointer;
    color: #3456F3;
}

.footer__link-box {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media screen and (min-width: 768px) {
    .footer__text {
        font-size: 13px;
        margin-bottom: 20px;
    }

    .footer__content {
        margin: 0 auto;
    }

    .footer__container {
        margin-left: 30px;
        margin-right: 30px;
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer__link-box {
        gap: 20px;
        display: flex;
        flex-direction: row;
    }

    .footer__copyright {
        margin-top: 0;
        font-size: 13px;
        color: #000;
        margin-bottom: 0;
    }

    .footer__link {
        font-size: 13px;
    }

    @media screen and (min-width: 1280px) {
        .footer__container {
            margin-left: 0;
            margin-right: 0;
        }
    }
}