.techs {}

.techs__content {}

.techs__title {
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #000;
    padding-bottom: 28px;
    text-align: start;
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 60px;
    margin-top: 70px;
    letter-spacing: -0.04em;
}

.techs__techs-title {
    letter-spacing: -0.04em;
    font-size: 30px;
    font-weight: 400;
    line-height: 110%;
}

.techs__subtitle {
    letter-spacing: -0.04em;
    font-size: 11px;
    line-height: 16px;
    max-width: 292px;
    margin: 0 auto 50px;
}

.techs__list {
    display: flex;
    gap: 10px;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 178px;
}

.techs__list-box {
    height: 57px;
    width: 84px;
    background-color: #E8E8E8;
    border-radius: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    letter-spacing: -0.04em;
}

@media screen and (min-width: 768px) {
    .techs__title {
        padding-top: 90px;
        margin-top: 0;
        padding-bottom: 23px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 80px;
        /* border-bottom: 1px solid #000; */
    }

    .techs__content {
        background-color: #F5F5F5;
    }

    .techs__box {
        /* padding-left: 60px;
        padding-right: 60px; */
    }

    .techs__techs-title {
        font-size: 50px;
        line-height: 58px;
        margin: 0 auto 22px;
    }

    .techs__subtitle {
        font-size: 12px;
        line-height: 18px;
        min-width: 460px;
        margin-bottom: 83px;
    }

    .techs__list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        max-width: 648px;
        padding-bottom: 90px;
    }
}