.login {}

.login__box {}

.login__link-logo {
    text-decoration: none;
}

.login__link-logo:hover {
    cursor: pointer;
}

.login__link-logo-image {
    margin-top: 56px;
    margin-bottom: 50px;
}

.login__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    margin-bottom: 80px;
    margin-top: 0;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0 30px 0;
    gap: 20px;
    align-items: center;
}

.form__input-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 10px;
    font-weight: 400;
    line-height: 105%;
    color: #A0A0A0;
}

.form__input {
    background-color: #fff;
    border: none;
    height: 32px;
    min-width: 250px;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 105%;
    border-bottom: solid 1px #E8E8E8;
}

.form__input_password {
    color: #FF3055;
}

.form__submit-button {
    background-color: #3456F3;
    border-radius: 5%;
    padding: 12px 47px;
    color: #fff;
    margin-top: 220px;
    transition: opacity 0.3s linear;
    font-size: 12px;
    font-weight: 500;
    border: none;
    width: 260px;
    /* height: 45px;
    width: 260px; */
}

.form__submit-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.login__link-box {
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
    margin-bottom: 30px;
}

.login__link-description {
    color: #A0A0A0;
    font-size: 12px;
    line-height: 105%;
    font-weight: 400;
    margin: 0;
}

.login__link {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    line-height: 105%;
    font-weight: 400;
    margin: 0;
    transition: opacity 0.3s linear;
}

.login__link:hover {
    opacity: 0.7;
    cursor: pointer;
}


@media screen and (min-width: 768px) {
    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login__box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-right: 250px;
    }

    .login__link-logo-image {
        margin-top: 232px;
        margin-bottom: 40px;
    }

    .login__title {
        margin-bottom: 40px;
    }

    .form__input {
        min-width: 396px;
    }

    .form {
        gap: 24px;
        max-width: 400px;
    }

    .form__submit-button {
        margin-top: 197px;
        border-radius: 4px;
        width: 396px;
        padding: 15px;
    }

    .login__link-box {
        margin-top: 16px;
        margin-bottom: 232px;
    }
}

@media screen and (min-width: 1280px) {
    .login__box {
        margin-top: 70px;
    }

    .login__link-logo-image {
        margin-top: 0;
        margin-bottom: 40px;
    }

    .form {
        margin-left: 442px;
        margin-right: 442px;
    }

    .login__link-box {
        margin-bottom: 70px;
    }
}