.nav-tab {}

.nav-tab__box {
    background-color: #073042;
    display: flex;
    justify-content: center;
}

.nav-tab__link {
    text-decoration: none;
}

.nav-tab__link-container {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    width: 120px;
    height: 36px;
    border: solid 1px rgba(255, 255, 255, 0.6);
    border-radius: 5%;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s linear;
}

.nav-tab__link-container:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .nav-tab__link-container {
        width: 129px;
        height: 35px;
        margin-bottom: 76px;
    }
}


@media screen and (min-width: 1280px) {
    .nav-tab__box {
        padding-left: 70px;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 75px;
    }
}